<p>navbar works!</p>
<nav>

    <ul class="nav__links">

      <li>

        <a href="/songs" class="nav__link">Home</a>

      </li>
      

       <li>

        <a href="/login" class="nav__link">Login</a>

      </li> 
      <li>

        <a href="/search" class="nav__link">Search</a>

      </li> 
      <li>

        <a href="/admin" class="nav__link">Admin</a>

      </li> 


      <!-- <li>

        <a href="/return" class="nav__link">Return</a>

      </li>

      <li>

        <a href="/restock" class="nav__link">Restock</a>

      </li>

      <li>

        <a href="/login" class="nav__link">Login</a>

      </li>  -->

    </ul>

  </nav>