<!-- <p>playlist works!</p>
<div>
    <h2>Playlists</h2>
    <ul>
      <li *ngFor="let playlist of playlists" (click)="onSelect(playlist)">
        {{ playlist.name }}
      </li>
    </ul>
  </div>
  
  <div *ngIf="selectedPlaylist">
    <h2>Edit Playlist</h2>
    <label>Name: </label>
    <input [(ngModel)]="selectedPlaylist.name" placeholder="Name"/>
    <button (click)="updatePlaylist()">Update</button>
    <button (click)="deletePlaylist()">Delete</button>
  </div>
  
  <div>
    <h2>Create Playlist</h2>
    <label>Name: </label>
    <input [(ngModel)]="newPlaylist.name" placeholder="Name"/>
    <button (click)="createPlaylist()">Create</button>
  </div>
   -->